@use "../abstract/" as *;
@use "../base/" as *;

.homeBanner {
  padding: 10rem 0;
  &__wrapper {
    @include centerAll;
    flex-direction: column;
    h4 {
      color: $clr--secondary;
      letter-spacing: 0.5rem;
      margin-bottom: 2rem;
      font-weight: 200;
    }
    h1 {
      color: $clr--light;
      font-family: $font--secondary;
      font-size: 3rem;
      margin-bottom: 2rem;
      text-shadow: -2px -2px $clr--secondary;
    }
  }
  &__button {
    @include between;
    gap: 1rem;
  }
}

.homeMenu {
  &__wrapper {
    @include unevenGrid(25rem 25rem 25rem, 3rem);
    place-content: center;
  }
  &__card {
    padding: 2rem 1rem;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $clr--secondary;
      border-radius: 2rem;
    }
    img {
      width: 17rem;
    }
    &--details p {
      color: $clr--secondary;
    }
  }
}

.homeAbout {
  background-image: url(../../IMG/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  @include centerAll;
  text-align: left;
  &__wrapper {
    max-width: 40rem;
    h4 {
      margin-bottom: 2rem;
      font-family: $font--secondary;
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }
  }
}

.homeCuisine {
  &__wrapper {
    @include evenGrid(2, 1rem);
    justify-items: center;
  }
}
