@use "../base/" as *;
@use "../abstract/" as *;

.header {
  display: block;
  z-index: 99;
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  box-shadow: rgba(227, 49, 10, 0.1) 0px 4px 12px;
  &__wrapper {
    @include between;
  }
  &__nav {
    display: flex;
    gap: 2rem;
    li a {
      color: $clr--light;
      font-weight: 600;
      font-size: 1.2rem;
      &:hover {
        color: $clr--secondary;
      }
    }
  }
  &__logo {
    width: 10rem;
    height: 3rem;
  }
}
