@use "../base/" as *;
@use "../abstract/" as *;

.btn {
  padding: 0.8rem 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;

  &.bg--secondary {
    @extend .btn;
    background-color: $clr--secondary;
    border-radius: 2rem;
    color: $clr--light;
    font-weight: 600;
    box-shadow: rgba(231, 4, 4, 0.1) 0px 4px 12px;
    &:hover {
      background-color: $clr--light;
      border: 1px solid $clr--secondary;
      color: $clr--secondary;
    }
  }
  &.bg--outline {
    @extend .bg--secondary;
    background-color: transparent;
    border-radius: 2rem;
    border: 1px solid $clr--secondary;
  }
}
