@use "../abstract/" as *;
@use "../base/" as *;

.title {
  @include centerAll;
  flex-direction: column;
  margin-bottom: 2rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: $font--secondary;
  }
}
